<html>
    <head>
        <title>My Python Anywhere hosted Django app</title>
    </head>
    <body>
        <h1>My Python Anywhere hosted Django app</h1>
        <p>Well, since it's already {{ right_now.minute }} past {{ right_now.hour }} UTC,
        that is as far as we are going to take you in this tutorial.</p>
        <p>What you do next is up to you...</p>
    </body>
</html>