<html>
   <head>
    <meta property="og:url"                content="http://rbeall49.pythonanywhere.com" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="Automated Word Alphabetizer" />
    <meta property="og:description"        content="Input a comma seperated list of words and push submit, the words will be returned in a new alphabetized list" />
    <meta property="og:image"              content="https://www.pythonanywhere.com/static/anywhere/images/logo-234x35.png" />

      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
      <script language="javascript" type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

      <title> Alphabetizer </title>
	  <meta charset="UTF-8">
   </head>
   <body  >
	<!-- Navigation & Logo-->
		<div class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>

				</div>
				</div>
		</div>
	<!-- Navigation & Logo-->
      <p></p>

      <div class="container" style="width:95%">
         <div class="row" style="border: 1px solid transparent;">
			<div class=" col-sm-12 col-md-12 col-lg-12">
					  <div class="form-group" id='q1' >
						<label for="abcOrder"><h3>Input a list of words seperated by commas</h3></label>
						<br/>
						<div class="input-group input-group-lg">
						  <span class="input-group-addon" id="sizing-addon1">List</span>
						  <input type="text" class="form-control" placeholder="speech, claim, mild, waist, sway, strike, stray, beast, fade, stain, fleet, sign, ...." id="txtList">
						</div>
						<br/>
						<button  id="btnSubmit" class="btn btn-info btn-lg " onclick="btnSubmit();" 	>Submit</button>
						<br/><br/>
						<textarea class="form-control" id='txtAnswer' rows="3"  ></textarea>
					  </div>
            </div>

		 </div>

      </div>
      <!--container  class="btn-default" -->
   </body>
<script>
    function btnSubmit(){
        var parm =  $('input#txtList').val();
        if(parm.length>1){
						//this is combining the url and parm to pass
            var request = "{%url 'wordList' strParm=location %}" + parm.toString();
            $.get( request,
                function( data ) {
                    var listItems = [];
                    $.each(data,
                        function(index){
                            listItems.push(data[index]);
                        }
                    )
            		$( "#txtAnswer" ).val(listItems.toString());
            	});
        }else{
            $( "#txtAnswer" ).val("");
        }
    }
</script>

</html>